
    <!-- end (7) authormode_inlinestyles -->



    <div class="full-row full-row-dark footer" role="contentinfo" aria-label="Footer">
    <div class="full-row full-row-arrow full-row full-row-arrow-white"></div>
    <div class="container">
    <p style="text-align:center; margin-top:20px;">
    <a href="https://www.facebook.com/StLCityRoD/" class="facebook"><img src="https://www.stlouis-mo.gov/images/icons/simple-icons/facebook-48.png" alt="Facebook" width="48" height="48" border="0"></a>
    <a href="https://twitter.com/STL_RECORDER/" class="twitter"><img src="https://www.stlouis-mo.gov/images/icons/simple-icons/twitter-48.png" alt="Twitter" width="48" height="48" border="0"></a>
    <a href="https://www.stlouis-mo.gov/subscriptions/" class="youtube"><img src="https://www.stlouis-mo.gov/images/icons/simple-icons/youtube-48.png" alt="YouTube" width="48" height="48" border="0"></a>
    <a href="https://www.stlouis-mo.gov/subscriptions/#CP_JUMP_179498" class="rss"><img src="https://www.stlouis-mo.gov/images/icons/simple-icons/rss-48.png" alt="RSS" width="48" height="48" border="0"></a>
    </p>
    <div class="row">
    <div class="col-sm-4">
    <h2>Site Navigation</h2>
    <div class="content-block">
    <ul class="list-group">
    <li>
    <a href="https://www.stlouis-mo.gov/services/">Services</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/government/">Government</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/news-media/">News</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/events/">Calendar</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/visit-play/">Visit and Play</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/government/departments/personnel/jobs/">Employment Opportunities</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <h2>Assistance</h2>
    <div class="content-block">
    <ul class="list-group">
    <li>
    <a href="https://www.stlouis-mo.gov/government/departments/information-technology/web-development/web-accessibility/accessibility.cfm">
    Change Site Fonts and Colors
    </a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/government/departments/information-technology/web-development/privacy.cfm">
    Privacy and Security
    </a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/government/departments/information-technology/web-development/website-policies.cfm">
    Policies and Notices
    </a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <h2>Contact Us</h2>
    <div class="content-block">
    <ul class="list-group">
    <li>
    <a href="https://www.stlouis-mo.gov/government/departments/">Departments and Agencies</a>
    </li>
    <li>
    City of St. Louis
    <br>
    City Hall
    <br>
    1200 Market Street
    <br>
    Saint Louis, MO 63103
    </li>
    <li>
    <a class="tel" href="tel:314-622-4610">314-622-4610</a>
    </li>
    <li>
    <a href="https://www.stlouis-mo.gov/government/contact.cfm">
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="footer-seal"></div>
    <div class="row">
    <div class="col-xs-6 text-right">
    © 2011 - 2019 City of St. Louis
    </div>
    </div>
    </div>
    </div>
</body>
</html>
