{% comment %} 
The contact is not loaded by default on the main pages. To include this navigation you can either use the
"sidenav: true" in the front-matter of your pages
 {% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <section>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        Hours: {{page.hours}}
      </li>
      <li class="usa-sidenav__item">
        Call: <a href="tel:{{page.phone}}">{{page.phone}}</a>
      </li>
      <li class="usa-sidenav__item">
        Mail: {{page.address}}
      </li>
      <li class="usa-sidenav__item">
        Email: <a href="mailto:{{page.email}}">{{page.email}}</a>
      </li>
    </ul>
  </section>
</aside>
