  <footer class="usa-footer--big bg-primary" aria-label="footer">
    <section id="footer-container" class="usa-footer__primary-section grid-container grid-row bg-primary text-bold" >
      <section id="site-navigation" class="grid-col padding-1 margin-1 radius-lg bg-primary-light">
        <ul class="usa-list usa-list--unstyled">
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/services/">Services</a>
          </li>
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/government/">Government</a>
          </li>
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/news-media/">News</a>
          </li>
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/events/">Calendar</a>
          </li>
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/visit-play/">Visit and Play</a>
          </li >
          <li class="usa-footer__secondary-link">
            <a href="https://www.stlouis-mo.gov/government/departments/personnel/jobs/">Employment Opportunities</a>
          </li>
        </ul>
      </section>
      <section id="assistance" class="grid-col padding-1 margin-1 radius-lg bg-primary-light">
          <ul class="usa-list usa-list--unstyled">
            <li>
              <a href="https://www.stlouis-mo.gov/government/departments/information-technology/web-development/privacy.cfm">
              Privacy and Security
              </a>
            </li>
            <li>
              <a href="https://www.stlouis-mo.gov/government/departments/information-technology/web-development/website-policies.cfm">
              Policies and Notices
              </a>
            </li>
          </ul>
      </section>
      <section class="grid-col padding-1 margin-1 radius-lg bg-primary-light">
        <ul class="usa-list usa-list--unstyled">
          <li class="usa-footer__secondary-link">
            <a href="/government/departments/">Departments and Agencies</a>
          </li>
          <li class="usa-footer__secondary-link">
            City of St. Louis
            <br>
            City Hall
            <br>
            1200 Market Street
            <br>
            </p>
          </li>
          <li class="usa-footer__secondary-link">
            <a class="tel" href="tel:314-622-4800">314-622-4800</a>
          </li>
          <li class="usa-footer__secondary-link">
            <a href="/government/contact.cfm"> Contact us </a>
          </li>
        </ul>
      </section>
    </section>
    <section id="footer-logo" class="minh-card-lg"> </section>
  </footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap_agency}}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.google_analytics_ua}}', '{{site.url}}');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  // forces SSL even if the page were somehow loaded over http://
  ga('set', 'forceSSL', true);

  ga('send', 'pageview');
</script>

<script src="{{site.baseurl}}assets/uswds/js/uswds.min.js"></script>

{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

</body>
</html>
