{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<header class="height-mobile-lg minh-tablet padding-2" >
  <hgroup class="display-inline-block radius-lg margin-1 padding-1">
    <h1 class="font-heading-x2 margin-0">
      <a class="text-white text-popout" href='/'>
        St. Louis City Recorder of Deeds
      </a>
    </h1>
      <a href='/about/'><h3 class="text-white margin-0 font-heading-xl padding-1" style ="text-shadow: 1px 1px 15px black;">
        Michael Butler
      </h3></a>
  </hgroup>
</header>
