{% comment %} 
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to eight. 
{% endcomment %}
  <section id="welcome" class="grid-row" >
    <div class="grid-col-4"></div>
    <div class="usa-intro margin-2 grid-col">
      <p>
      Welcome to the Office of the St. Louis City Recorder of Deeds. Our job is to make history every day &mdash;by placing documents on the public record&mdash; and make that history accessible to you and generations to come.

The City's Recorder maintains nearly 250 years of public records history on the people and property of St. Louis.

Most of the records in our care must be preserved in perpetuity. Some records are closed records under Missouri law with limited access.

We provide a library rich in documentation of family relationships, real estate transactions, incorporations by businesses and non-profits, and much more-- primary source records for genealogists and scholarly researchers.

The City's Recorder Office is the only office in Missouri providing one-stop shopping for birth, marriage, land, death, and old corporation records.

We look forward to providing you with services because it is a pleasure to do our job. </p>
  <p class="text-right">
Michael Butler
St. Louis City Recorder of Deeds
   </p>
 </section>



