{% comment %}
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml
where we provide an easy way to manage your navigation system
{% endcomment %}

<nav class="grid-continer" >
  <div class="grid-row flex-justify-center margin-top-5 ">
      <div class="grid-auto text-center minw-5">
         <a href="/vitals/#birth-and-death-records">
             <img class='minw-10 height-card-lg' src="/assets/images/BIRTH_4x3.jpg" alt="Birth Certificate icon"/>
             <p class="text-bold text-white font-body-lg menu">Birth</p>
         </a>
      </div>
      <div class="grid-auto text-center minw-5 minw-10">
         <a href="/vitals/#birth-and-death-records"><img class='height-card-lg' src="/assets/images/DEATH_03_4x3.jpg" alt="Death Certificate icon"/>
           <p class="text-bold text-white font-body-lg menu">Death</p>
         </a>
      </div>
      <div class="grid-auto text-center minw-5 minw-10">
	 <a href="/marriage/#marriage-licenses"><img class='height-card-lg' src="/assets/images/MARRIAGE_TIGHT_4x3.jpg" alt="Marriage Certificate icon"/>
           <p class="text-bold text-white font-body-lg menu">Marriage</p>
         </a>
      </div>
      <div class="grid-auto text-center minw-5 minw-10">
	 <a href="/land/#land-records"><img class='height-card-lg' src="/assets/images/LAND_4x3.jpg" alt="Land Deeds icon"/>
           <p class="text-bold text-white font-body-lg menu">Land</p>
         </a>
      </div>
      <div class="grid-auto text-center minw-5 minw-10">
	 <a href="/archives/#archives"><img class='height-card-lg' src="/assets/images/ARCHIVES_4x3.jpg" alt="Archives icon"/>
           <p class="text-bold text-white font-body-lg menu">Archives</p>
         </a>
      </div>
  </div>
</nav>
