{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex, nofollow">
<meta name="Description" id="Description" content="Birth, death, land, marriage records, and archival records">




<!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title and meta description
================================================== -->


<title>{{site.title}}</title>
<meta property="og:title" content="{{site.title}}">
<meta name="description" content="{{site.description}}">
<meta property="og:description" content="{{site.description}}">
<meta property="og:description" content="Birth, death, land, marriage records, and archival records">
<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@{site.twitter}">
<meta property="og:type" content="article">

<link rel="canonical" href="{{site.baseurl}}/">
<meta property="og:url" content="{{site.baseurl}}/">



<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon.png">

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-192.png">

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/uswds/img/favicons/favicon-144.png">

<!-- CSS
================================================== -->
<!-- env: demo -->


<title>Recorder of Deeds and Vital Records Registrar</title>
<link rel="stylesheet" href="/assets/css/styles.css">
    <link href="/assets/css/screen.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/print.css" rel="stylesheet" type="text/css" media="print">
    <link href="/assets/css/css.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/pikaday.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.stlouis-mo.gov/favicon1.ico">
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="https://www.stlouis-mo.gov/favicon1.ico">
<link rel="stylesheet" href="/assets/css/base.css">
<!-- ><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"> -->

</head>
<body class="page-landing-page">
<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.append%2CDocumentFragment.prototype.append%2CArray.prototype.forEach"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- 
<aside class="usa-alert usa-alert--info margin-0">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Office Closure</h3>
    <p class="usa-alert__text "> Our offices will be closed in honor of Martin Luther King's Birthday, Monday January 20, 2020 </p>
  </div>
</aside>
-->
