{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}
<header id='header' class="height-mobile-tablet minh-tablet-lg padding-2 " >
  <div class='video-bg' >
    <video id='welcome_vid' autoplay muted='true' poster="/assets/images/CITYHALL.jpg" >
      <source type="video/mp4" src="/assets/video/PSA.mp4" >
      <source type="video/webm" src="/assets/video/PSA.webm" >
    </video>
  </div>
  <div class= "video-overlay">
    <hgroup class="display-inline-block radius-lg margin-1 padding-1">
      <h1 class="font-heading-x2 margin-0">
        <a class="text-white text-popout" href='/'>
          St. Louis City Recorder of Deeds
        </a>
      </h1>
      <a href='/about/'><h3 class="text-white margin-0 font-heading-xl padding-1" style ="text-shadow: 1px 1px 15px black;">
             Michael Butler
      </h3> </a>
    </hgroup>
  </div>
    <script>
      function empowerMuteButton(vid,mutebutton) {
          //mutebutton.addEventListener('click',(event) => {
          mutebutton.addEventListener('click',function(event) {
             vid.muted = !vid.muted;
             if (mutebutton.innerText == "UNMUTE"){
                 mutebutton.innerText = "MUTE";
             }else {
                 mutebutton.innerText = "UNMUTE";
             }
             vid.currentTime = 0 ;
          })
          //vid.addEventListener('ended',(event) => {
          vid.addEventListener('ended',function(event) {
            vid.remove();
            mutebutton.remove();
            console.log("video removed");
            //addCarousel();
          });
      }

      const vid = document.querySelector('video');
      vid.addEventListener('play',function(event) {
          console.log("play event fired");
          const mute = document.querySelector('#unmute');
          if ( mute === null ){
              const hgroup = document.querySelector('hgroup');
              let b = document.createElement('button');
              b.setAttribute('id','unmute');
              b.setAttribute('class','usa-button usa-button--outline');
              b.innerText = 'UNMUTE';
              hgroup.append(b);
              empowerMuteButton(vid,b);
          }
      });
    </script>
</header>
