nav {
    display:flex;
    justify-content: center;
    background-size: cover;
}


header {
    background-image: url("/assets/images/CITYHALL.jpg") ;
    background-size: cover;
    background-position: center; 
    position: relative;
    overflow: hidden; 
}

.standout { 
  background-color: #e1f3f8; 
  padding: 1em ;
  border-radius : 5px; 
  border: solid black 1px; 
}


.standout * a:hover { 
  color: black; 
}

#footer-logo {
  background: url("https://www.stlouis-mo.gov/images/city-seal-w-transparency-white.png") no-repeat center ;
}


@font-face {
   font-family: "sans-sarif-shaded";
   src: url("/assets/fonts/SansSerifShaded.ttf");
}

.text-popout {
   font-family: "sans-sarif-shaded";
   text-shadow: 1px 1px 15px black;
}


.video-bg,
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu { 
    transform: translatey(-400%);
    text-shadow: 1px 1px 10px black;
}
