@font-face {
  font-family: 'stl-icons';
  src: url('/fonts/stl-icons.eot?38773494');
  src: url('/fonts/stl-icons.eot?38773494#iefix') format('embedded-opentype'),
       url('/fonts/stl-icons.woff2?38773494') format('woff2'),
       url('/fonts/stl-icons.woff?38773494') format('woff'),
       url('/fonts/stl-icons.ttf?38773494') format('truetype'),
       url('/fonts/stl-icons.svg?38773494#stl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stl-icons';
    src: url('../font/stl-icons.svg?38773494#stl-icons') format('svg');
  }
}
*/
 
 [class^="stl-icon-"]:before, [class*=" stl-icon-"]:before, 
 .stl-icon {
  font-family: "stl-icons";
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
 
.stl-icon {

}

.stl-icon-stop-light:before { content: '\e800'; } /* '' */