---
layout: default
---
<main class="grid-container" >
  <div class="grid-row grid-gap">
    {% if page.sidenav == true %}
      {% include rightnav.html %}
    {% endif %}
    <section class="usa-layout-docs__main grid-col-8 usa-prose margin-2" >
      {{ content }}
    </section>
  </div>
</main>
